header nav{
    display: flex;
    justify-content: center;
}
header nav h1{
    display: block;
    
}
header .header-nav ol li{
    display: inline;
    text-align: center;
    text-decoration: none;
}
header .header-nav ul li{
    display: inline;
    text-align: center;
    text-decoration: none;
}

.item-center {
    text-align: center;
}

.item-center ul{
    display: inline-block;
}

.item-center ol{
    display: inline-block;
}

